<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Beagle: A News Recommendation System">
    <meta name="author" content="idejie">
    <link rel="shortcut icon" href="/assets/img/logo-fav.png">
    <title>Beagle:News Recommendation System</title>
    <link rel="stylesheet" type="text/css" href="/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" href="//unpkg.com/docsify/lib/themes/vue.css" title="vue">
    <link rel="stylesheet" href="//unpkg.com/docsify/lib/themes/pure.css" title="pure" disabled="">
    <link rel="stylesheet" type="text/css"
          href="/assets/lib/material-design-icons/css/material-design-iconic-font.min.css"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/app.css" type="text/css"/>
</head>
<body>
<div class="be-wrapper">
    <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
            <div class="be-navbar-header"><a href="/" class="navbar-brand"></a>
            </div>
        </div>
    </nav>
    <div style="position: relative;left: 0;min-height: 100%;">
        <div class="main-content container-fluid">
            <h1 class="display-heading text-center">Beagle</h1>
            <p class="display-description text-center">A News Recommendation System<br>Just A Demo for Homework</p>
            <div class="row pricing-tables">
                <div class="col-lg-4">
                    <div class="pricing-table pricing-table-color pricing-table-primary">
                        <div class="pricing-table-title">CNN Based</div>
                        <div class="card-divider card-divider-xl"></div>
                        <ul class="pricing-table-features">
                            <li>Using CNN to extract the theme of news</li>
                            <li>Recommending news based themes</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="pricing-table pricing-table-color pricing-table-warning">
                        <div class="pricing-table-title">SVD Based</div>
                        <div class="card-divider card-divider-xl"></div>
                        <ul class="pricing-table-features">
                            <li>Using SVD to get latent factor models</li>
                            <li>Collaborative Filtering</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="pricing-table pricing-table-color pricing-table-success">
                        <div class="pricing-table-title">NMF Based</div>
                        <div class="card-divider card-divider-xl"></div>
                        <ul class="pricing-table-features">
                            <li>Using NMF to get latent factor models</li>
                            <li>Collaborative Filtering</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <style>
                    .button-s {
                        border: 1px solid var(--theme-color, #42b983);
                        border-radius: 4rem;
                        box-sizing: border-box;
                        color: var(--theme-color, #42b983);
                        display: inline-block;
                        font-size: 1.5rem;
                        letter-spacing: .1rem;
                        margin: .5rem 1rem;
                        padding: 1em 3rem;
                        text-decoration: none;
                        transition: all .15s ease;
                    }

                </style>
                <div class="cover-main" style="flex: 1;margin: -20px 16px 0;text-align: center;z-index: 1">
                    <a class = 'button-s'href="https://github.com/idejie/recsys_web/blob/master/README.md" target="_blank">Document</a>
                    <a class = 'button-s' href="/dashboard" style="background-color: var(--theme-color,#42b983); color: #fff;">Getting
                        Started
                    </a>
                </div>

            </div>
        </div>
    </div>


</div>
<script src="/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<script src="/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="/assets/js/app.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //initialize the javascript
        App.init();
    });

</script>
</body>
</html>